@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    box-shadow: 0px -1px 0px 1px #ddd;
    padding: 50px 100px;
    margin-top: auto;
    background-color: #FFE9E9;
}

.header {
    padding: 0px 100px;
    box-shadow: 0px 2px 5px 0px #ddd;
}


.h6_footer_title {
    font-weight: bold;
    padding-bottom: 20px;
}

.jumbotron {
    margin: 10px 0px !important;
    background-color: #ffffff !important;
}

.jumbotron_landingPage_btn {
    border-radius: 10px !important;
    border-color: #111 !important;
    font-weight: bold !important;
    padding: 10px 40px !important;
}

.jumbotron_landingPage_h1 {
    font-size: 50px;
    color: #326754;
    font-weight: bold;
}

.jumbotron_landingPage_imageRight {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.jumbotron_landingPage_left {
    padding-top: 20vh;
}

.layout_footer {
    margin-left: 25px;
    margin-right: 100px;
}

.login_button {
    background-color: #3F836A !important;
    color: #ffffff !important;
}

.login_createAccount h6 {
    text-align: center;
}

.login_form {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    width: 450px;
}

.login_forgotPassword {
    position: absolute;
    right: 0;
    margin-right: 15px;
}

.login_forgotPassword a {
    color: #979797 !important;
    font-weight: bold;
}

.login_label, .login_rememberMe_text, .login_createAccount a, .login_createAccount h6 {
    color: #A9ABBD;
}

.login_rememberMe_text {
    margin-left: -15px;
}


.main {
    padding: 0px 100px;
}

.navbar-collapse .navbar-nav .nav-item .nav-link {
    color: black;
    margin: 0px 5px;
}

.p_footer_desc {
    color: #979697;
}

.p_footer{
    color: #111111;
    margin-bottom: 5px;
}

.searchBar {
    position: relative;
    height: 40px;
    width: 500px;
    padding: 0px 10px;
    margin: 0px 5px;
    border-style: none;
}