@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    padding-bottom: 150px;
    min-height: 100vh;
}

.footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    box-shadow: 0px -1px 0px 1px #ddd;
    padding: 50px 100px;
    background-color: #FFE9E9;
}

.header {
    padding: 0px 100px;
    box-shadow: 0px 2px 5px 0px #ddd;
}

.h6_footer_title {
    font-weight: bold;
    padding-bottom: 20px;
}

.layout_footer {
    margin-left: 25px;
    margin-right: 100px;
}

.navbar-collapse .navbar-nav .nav-item .nav-link {
    color: black;
    margin: 0px 5px;
}

.p_footer_desc {
    color: #979697;
}

.p_footer{
    color: #111111;
    margin-bottom: 5px;
}

.searchBar {
    height: 40px;
    width: 500px;
    padding: 10px;
    margin: 5px;
    border-style: none;
}